<!--<h1>Perfil#inicio</h1>
<p>Find me in app/views/perfil/inicio.html.erb</p>-->

<section class="menu">
	<%if @foto %>
		<img src="@foto" alt="">
	<%else %>
		<img src="desconocido" alt="">
	<%end%> -->
	<%if usuario_signed_in? %>
		<p class="text-success text-center">Bienvenido, <%= @usuario.nombre + " " + @usuario.apellido %></p>
	<%else %>
		<h2>Bienvenido, desconocido</h2>
	<%end%>
	<hr>
	<p class="text-warning text-center">Editar Perfil</p>
	<p class="text-danger text-center">Cerrar Sesion</p>


</section>