<!--<h1>Perfil#inicio</h1>
<p>Find me in app/views/perfil/inicio.html.erb</p>-->

<section class="menu">
	<div class="avatar center-block">
		<%if @foto %>
			<%= image_tag @foto %>
		<%else %>
			<%= image_tag "desconocido.png" %>
		<%end%>
	</div>
	<%if usuario_signed_in? %>
		<p class="text-success text-center">Bienvenido, <%= @usuario.nombre + " " + @usuario.apellido %></p>
	<%else %>
		<h2>Bienvenido, desconocido</h2>
	<%end%>
	<hr>
	<p class="text-warning text-center">Editar Perfil</p>
	<p class="text-danger text-center">Cerrar Sesion</p>


</section>


<section class="main-datos ">

	<section id="inversiones" class="well">
		<h2>Tus Inversiones</h2>
		
			<div class="recuadro well">
				<h3>Nombre de la campaña</h3>
				<br>
				<h4>Inversion:</h4>
				<span>cantida</span>
				<span class="float-r"><a href="">detalles</a></span>
			</div>
	</section>
	<section id="talentos" class="well">
		<h2>Tus Trabajos</h2>
		<div class="recuadro well">
			<h3>Nombre de la camapaña</h3>
			<br>
			<h4>Cargo:</h4>
			<span>Nombre del cargo asigando</span>
			<span class="float-r"><a href="">detalles</a></span>
		</div>
	</section>
	<section id="creados" class="well">
		<h2>Tus Campañas</h2>
		<% #@campanas.each do |campana| %>
			<div class="recuadro well">
				<h3></h3>
				<br>
				<h4>Progreso:</h4>
				<span></span>
				<span class="float-r">
					<%= link_to "detalles" %>
				</span>
			</div>
	</section>
</section>

<hr class="limpiar" />


