<footer class="row footer">
	<div class="col-md-12">
		<p class="text-center">Aqui algo chill y centrado</p>
	</div>
	<div class="redes-sociales col-md-9 col-sm-12l">
		<a href="#"><span class="red-social icon-brand"></span></a>
		<a href="#"><span class="red-social icon-brand2"></span></a>
		<a href="#"><span class="red-social icon-brand3"></span></a>
        <br/>
        <%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete %>
	</div>
	<div class=" col-md-3 col-sm-12 pull-right text-xs-right">
		<p>Pressio - 2017</p>
	</div>
</footer>