<footer class="row footer">
	<div class="col-md-12">
		<p class="text-center">Aqui algo chill y centrado</p>
	</div>
	<div class="redes-sociales col-md-9 col-sm-12l">
		parte de las redes sociales
        <br/>
        <%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete %>
	</div>
	<div class=" col-md-3 col-sm-12 pull-right text-xs-right">
		<p>Aqui otra info</p>
	</div>
</footer>