<footer class="row footer">
	<div class="redes-sociales col-md-9 col-sm-12l">
		<a href="#"><span class="red-social icon-brand"></span></a>&nbsp;&nbsp;
		<a href="#"><span class="red-social icon-brand2"></span></a>&nbsp;&nbsp;
		<a href="#"><span class="red-social icon-brand3"></span></a>
		<br/>
		<p><b>press.io</b> &copy; 2017, todos los derechos reservados</p>
	</div>
	<div class=" col-md-3 col-sm-12 pull-right text-xs-right">
		<p class="text-center">press.io, ¡el sitio de crowdfunding para tus proyectos, inversiones, ideas y más!</p>
	</div>
</footer>