<nav class="center-block well">
    <ul class="well navbar">
        <li><a href="/">Inicio</a></li>
        <li><a href="/quienes-somos">Quiénes somos</a></li>
        <li><a href="/equipo">Equipo</a></li>
        
    </ul>
</nav>