<header class="well">
	<nav class="center-block well">
		<ul class="well navbar">
			<li><a href="/equipo">Equipo</a></li>
			<li><a href="/quienes-somos">Quienes Somos</a></li>
			<li><a href="/">Inicio</a></li>
		</ul>
	</nav>
</header>

