<section class="main">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img src="#" alt="">
		</div>
		<div class="col-md-6 col-sm-12">
			<h2 class="text-center">Pressio</h2>
			<p>hola</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="#" alt="" class="img-circle center-block">
			<h1>Vaina 1</h1>

		</div>
		<div class="col-md-4 col-sm-12">
			<img src="#" alt="" class="img-circle center-block">
			<h1>Vaina 2</h1>

		</div>
		<div class="col-md-4 col-sm-12">
			<img src="#" alt="" class="img-circle center-block">
			<h1>Vaina 3</h1>

		</div>
	</div>

</section>