<%= render "paginas/slider" %>
<section class="main">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 sitely">
			<h2 class="text-center">press.io</h2>
			<div class="line"><hr></div>
			<p class="text-center">¡Bienvenido a la plataforma <b>press.io</b>!<br/>
				Hogar de ideas innovadoras, talentos emergentes y futuros emprendedores.
			</p>				
		</div>
	</div>
	<div class="parte2 row">
		<div class="elemento col-md-4 col-sm-12">
			<span class="icon-brand4 icono text-center" ></span>
			<h3 class="text-center">Invierte</h3>
			<p class="text-center">Invierte en una idea innovadora</p>
			<%= button_to "Busca una Campaña", "/campanas" , class:"center-block btn btn-primary", :method => :get %>
		</div>
		<div class="elemento col-md-4 col-sm-12">
			<div class=""><span class="icon-hammer icono text-center" ></span></div>
			<h3 class="text-center">Se parte de la idea</h3>
			<p class="text-center">Consigue ser parte de un proyecto unico y ser remunerado</p>
			<%= button_to "Busca Talento", "/talentos" , class: "center-block btn btn-primary", :method => :get %>
		</div>
		<div class="elemento col-md-4 col-sm-12">
			<span class="icon-trophy icono este text-center	" ></span>
			<h3 class="text-center">Convierte tu sueño en realidad</h3>
			<p class="text-center">Consigue inversores, interesados en ayudar en tu proyecto y logra tu meta</p>
			<%= button_to "Crea una Campaña", "/campanas/crear" , class:"center-block btn btn-primary" %>
		</div>
	</div>

</section>