<%= render "paginas/slider" %>
<section class="main">
	<!-- <div class="descripcion row">
		<div class="col-md-6 col-sm-12">
			<img src="#" alt="">
		</div>
		<div class="col-md-6 col-sm-12">
			<h2 class="text-center">Pressio</h2>
			<p>hola</p>
		</div>
	</div> -->
	<div class="parte2 row">
		<div class="elemento col-md-4 col-sm-12">
			<span class="icon-brand4 icono text-center" ></span>
			<h3 class="text-center">Invierte</h3>
			<p class="text-center">Invierte en una idea innovadora</p>
		</div>
		<div class="elemento col-md-4 col-sm-12">
			<div class=""><span class="icon-hammer icono text-center" ></span></div>
			<h3 class="text-center">Se parte de la idea</h3>
			<p class="text-center">Consigue ser parte de un proyecto unico y ser remunerado</p>
		</div>
		<div class="elemento col-md-4 col-sm-12">
			<span class="icon-trophy icono este text-center	" ></span>
			<h3 class="text-center">Convierte tu sueño en realidad</h3>
			<p class="text-center">Consigue inversores, interesados en ayudar en tu proyecto y logra tu meta</p>
		</div>
	</div>

</section>