<div id="carousel-example-generic" class="carousel slide slider" data-ride="carousel" data-interval="3500">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
      <%= image_tag "sld1.jpg" %>
      <div class="carousel-caption">
        <h3><a href="/campanas/ver/11">Mystery Deer 2: Enter the Sheep</a></h3>
        <p>¡Una nueva aventura a través del bosque!</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "sld2.png" %>
      <div class="carousel-caption">
        <h3>Mystery Deer 3: Human Control</h3>
        <p>¿Será este el fin de Vee Nade?</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "sld3.jpg" %>
      <div class="carousel-caption">
        <h3>Starbound Infinity</h3>
        <p>Alcanzando universos más allá de lo conocido</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
     <span class="icon-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
     <span class="icon-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
