<div class="wrap row">
	<h2 class="text-center">Conoce nuestro equipo de trabajadores</h2>
	<div class="col-md-6">
		<%= image_tag "desconocido.png", class: "img-equipo img-responsive img-circle center-block "%>
		
		<h3 class="text-center">Andres Torres</h3>
		<div class="line"><hr></div>
		<p class="text-center">Descripcion</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "desconocido.png", class: "img-equipo img-responsive img-circle center-block "%>
		<h3 class="text-center">David Rodriguez</h3>
		<div class="line"><hr></div>
		<p class="text-center">Descripcion</p>
	</div>
</div>