<div class="wrap row">
	<h2 class="text-center">¡Conoce a nuestro equipo!</h2>
	<hr/>
	<div class="col-md-6">
		<%= image_tag "at2.jpg", class: "img-equipo img-responsive img-circle center-block "%>
		<h3 class="text-center">Andrés Ignacio Torres</h3>
		<h5 class="text-center">CEO | Fundador</h5>
		<div class="line"><hr></div>
		<p class="text-center">Estudiante de Ingeniería de la Computación en la Universidad Simón Bolívar, escritor, coleccionista de libros y recuerdos.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "dr.png", class: "img-equipo img-responsive img-circle center-block "%>
		<h3 class="text-center">David Rodriguez</h3>
		<h5 class="text-center">CTO | Fundador</h5>
		<div class="line"><hr></div>
		<p class="text-center">Estudiante de Ingeniería de la Computación en la Universidad Simón Bolívar, tesorero del Centro de Estudiantes de esta carrera.</p>
	</div>
</div>