<!DOCTYPE html>
<html>
<head>
	<title>Pressio</title>
	
	<!--META TAG-->
	<meta charset="utf-8">
	<!-- BOOTSTRAP -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- JAVASCRIPT -->

	<!--STYLES -->

</head>
<body class="container-fluid">
	<h1>Paginas#inicio</h1>
	<header>
		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Quienes Somos</a></li>
				<li><a href="#">Equipo</a></li>
			</ul>
		</nav>
		<div class="main-image">
			
		</div>

	</header>
	<section class="main">
		
	</section>

	<footer class="row">
		<div class="redes-sociales col-md-4 col-sm-12">
			
		</div>
		<div class=" col-md-4 col-sm-12">
			
		</div>
		<div class=" col-md-4 col-sm-12">
			
		</div>
	</footer>

</body>
</html>




