<!DOCTYPE html>
<html>
<head>
</head>
<body class="container-fluid">
	<h1>Paginas#inicio</h1>
	<!-- HEADER -->

	<%= render "header" %>

	<!-- MAIN -->
	<%= render "main" %>

	<!-- FOOTER -->
	<%= render "footer" %>

</body>
</html>
