<body class="container-fluid">
	<!-- HEADER -->
	<header class="well">
		<%= render "header" %>
	</header>

	<!-- MAIN -->
	<%= render "main" %>

	<!-- FOOTER -->
	<%= render "footer" %>

</body>
</html>
