<div class="container-fluid vista-campana sitely text-justify">
        <h1 class="text-center">¿Quiénes somos?</h1>
    <hr/>
    <p><strong>press.io</strong> (<i>press</i> por <i>press the button!</i>) es una <b>plataforma online</b> de <b>crowdfunding</b> y <b>socialfunding</b>, que le permite a cualquier particular o empresa publicar <strong>campañas de patrocinio</strong> para <strong>recolectar fondos y capital humano</strong>. Nuestro principal valor es el reconocimiento de la labor humana y el capital social como factores tan importantes como (o incluso más importantes que) el capital monetario.</p>
    <%= image_tag "pressio.png", :class => 'center-block' %>
    <br/>
    <p>Como emprendedores, el equipo detrás de <b>press.io</b> entiende las necesidades del mercado en la actualidad: existen, al mismo tiempo, una necesidad imperante de innovar y crear cada día, y una dificultad al momento de establecer lazos y recopilar los recursos necesarios para la puesta en escena de un proyecto. Ya no basta solo una idea, una chispa, pues se necesita también todo un motor que la impulse hasta llegar a un resultado concreto, en la forma de un producto o servicio que satisfaga las necesidades de los consumidores.</p>
    <br/>
    <p>En este sentido, es necesario reimpulsar el valor del apoyo humano en la realización de un proyecto: cualquier persona puede pensar una idea factible e innovadora, pero sólo aquellos que logran rodearse del equipo adecuado (además de obtener los recursos monetarios) logran pasar de la idea a la realidad. Así, <b>press.io</b> se proyecta como una plataforma de <b>apoyo al emprendedor</b> en cualquier área (véase: finanzas, servicios, gestión social, cultura, tecnología...), buscando servir de intermediario entre consumidores, inversores, talentos y creadores.</p>
</div>