<%= image_tag "campanasbig/#{@campana.id}.jpg", :class => "campana-cabecera" %>
<div class="container-fluid">
    <h2 class="text-center"><%= @campana.nombre %></h2>
    <h4 class="text-center"><%= @campana.sinopsis %></h4>
</div>