// Place all the styles related to the Perfil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu{
	width: 25%;
	min-height: 100vh;
	height: 100%;
	float: left;
	background-color: beige;
	position: fixed;
	top: 70px;
	z-index: -1;
}

.avatar {
    border-radius: 100%;
    display: inline-block;
    padding: 2em 0.5em 0.5em 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
    width: 100%;
}

.avatar img {
    border-radius: 100%;
    display: block;
    width: 10em;
    margin: auto;
}

/* -------- Vista de Invrsiones Creados y Talentos---------*/

.main-datos{
	width: 75%;
	float: right;
	padding: 20px;

}
.recuadro h4{
	display: inline-block;
}
.float-r{
	float: right;
}

hr.limpiar {
	visibility: hidden;
	clear:both;
}