// Place all the styles related to the Perfil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu{
	width: 25%;
	min-height: 100vh;
	height: 100%;
	float: left;
	background-color: beige; 
}